body{

font-family:Arial, Helvetica, sans-serif;
background:linear-gradient(135deg,#1f3b4d,#0f2027);

display:flex;
justify-content:center;
align-items:center;

height:100vh;
margin:0;

}


.card{

background:white;
padding:30px;

width:600px;
border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,0.2);

text-align:center;

}


#map{

height:300px;
border-radius:10px;
margin:20px 0;

}


.buttons{

display:flex;
justify-content:center;
gap:10px;

}


button{

padding:10px 18px;
border:none;

border-radius:6px;
cursor:pointer;

font-weight:bold;

}


.minor{background:#f1c40f;}
.moderate{background:#e67e22;color:white;}
.severe{background:#e74c3c;color:white;}

.saveBtn{

margin-top:10px;
background:#2ecc71;
color:white;

}


#editBtn{

margin-top:10px;
background:#3498db;
color:white;

}


input{

width:90%;
padding:10px;

margin:6px 0;

border-radius:6px;
border:1px solid #ccc;

}


#countdownText{

color:red;
font-weight:bold;

}